<div class="ads" *ngIf="!hideAdd">
    <div class="ads__close" (click)="hideAdd = true">
        <img src="assets/img/ads/close.png" width="10" />
    </div>
    <div class="ads__logo">
        <img src="assets/img/ads/logo.png" width="44" />
    </div>
    <div class="ads__detail">
        <h4>Mobio - Thay thế mọi thẻ thành viên</h4>
        <div>PINGCOM</div>
        <div class="ads__stars">
            <div class="ads__stars-icon"></div>
            <div class="ads__stars-icon"></div>
            <div class="ads__stars-icon"></div>
            <div class="ads__stars-icon"></div>
            <div class="ads__stars-icon"></div>
        </div>
        <div>NHẬN - Trên App Store</div>
    </div>
    <div class="ads__cta">
        <a href="">Tải App</a>
    </div>
</div>