.ads {
    height: 60px;
    position: relative;
    background: #f2f2f2;
}

.ads__close {
    top: 26px;
    position: absolute;
    left: 7px;
}

.ads__logo {
    left: 23px;
    position: absolute;
    top: 9px;
}

.ads__detail {
    font-size: 10px;
    line-height: 14px;
    padding-left: 74px;
    padding-right: 60px;
    padding-top: 3px;
}

.ads__stars {
    margin-top: -2px;
}

.ads__stars-icon {
    background: url(../../assets/img/ads/star.png) no-repeat center;
    background-size: 100%;
    display: inline-block;
    height: 8px;
    width: 8px;
}

.ads__cta {
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;
}

.ads__cta a {
    text-decoration: none;
}