<div class="header app-background-primary">
    <div class="header__menu">
        <img src="assets/img/svg/icon_SVG-19.svg" width="12" />
    </div>
    <div class="header__logo">
        <img src="assets/img/header/logo.png" width="54" />
    </div>
    <div class="header__nav">
        <div class="header__nav-item header__nav-account" (click)="showLogin()" *ngIf="!user">
            <img src="assets/img/svg/icon_SVG-51.svg" width="22" />
        </div>
        <div class="header__nav-item header__nav-account header__nav-account--logged_in" *ngIf="user" routerLink="/profile/list">
            <img [src]="user.anhdaidien" width="22" />
        </div>
        <div class="header__nav-item header__nav-notification" routerLink="/notifications/public">
            <img src="assets/img/header/notification.png" width="17" />
            <div class="header__nav-notification-count">{{ notificationCounts }}</div>
        </div>
        <div class="header__nav-item header__nav-card" routerLink="/cards">
            <img src="assets/img/header/card.png" width="22" />
        </div>
    </div>
</div>