.header {
    height: 44px;
    position: relative;
}

.header__menu {
    left: 16px;
    position: absolute;
    top: 16px;
}

.header__logo {
    left: 43px;
    position: absolute;
    top: 8px;
}

.header__nav {
    padding-top: 16px;
    padding-right: 23px;
    position: absolute;
    right: 0;
    top: 0;
}

.header__nav-item {
    float: right;
    margin-left: 10px;
    position: relative;
}

.header__nav-account {
    margin-top: -5px;
}

.header__nav-account--logged_in {
    border-radius: 100%;
    overflow: hidden;
}

.header__nav-notification-count {
    background: #db0000;
    border-radius: 12px;
    color: white;
    font-size: 8px;
    height: 12px;
    position: absolute;
    top: -5px;
    text-align: center;
    right: -4px;
    width: 12px;
}