.footer {
    background: white;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, .1);
    bottom: 0;
    height: 35px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 10;
}

.footer__menu {
    color: #a4a4a4;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 65px;
}

.footer__main {
    background: #fdc93e;
    border: white 3px solid;
    border-radius: 40px;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, .1);
    height: 40px;
    left: 50%;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: -16px;
    transform: translateX(-50%);
    width: 40px;
}

.footer__main:focus {
    outline: none;
}

.footer__main img {
    height: 34px;
    line-height: 34px;
    vertical-align: unset;
}

.footer__menu:active {
    color: #467bfb;
}

.footer__menu:focus {
    outline: none;
}

.footer__menu:nth-child(1) {
    left: 0;
}

.footer__menu:nth-child(2) {
    left: 20%;
}

.footer__menu:nth-child(3) {
    right: 20%;
}

.footer__menu:nth-child(4) {
    right: 0;
}

.footer__menu-title {
    font-size: 8px;
}

.footer__menu-title--active {
    color: #007cff;
}