<div class="footer">
    <div class="footer__menu" routerLink="/benefits/list/latest">
        <img src="assets/img/svg/icon_SVG-06.svg" *ngIf="routeInclude('/benefits')" width="15" />
        <img src="assets/img/svg/icon_SVG-10.svg" *ngIf="!routeInclude('/benefits')" width="15" />
        <div class="footer__menu-title" [ngClass]="{'footer__menu-title--active': routeInclude('/benefits')}">Benefits</div>
    </div>
    <div class="footer__menu" routerLink="/cards/list">
        <img src="assets/img/svg/icon_SVG-04.svg" *ngIf="routeInclude('/cards')" width="15" />
        <img src="assets/img/svg/icon_SVG-08.svg" *ngIf="!routeInclude('/cards')" width="15" />
        <div class="footer__menu-title" [ngClass]="{'footer__menu-title--active': routeInclude('/cards')}">Cards</div>
    </div>
    <div class="footer__menu" routerLink="/vouchers/list/mine">
        <img src="assets/img/svg/icon_SVG-05.svg" *ngIf="routeInclude('/vouchers')" width="15" />
        <img src="assets/img/svg/icon_SVG-09.svg" *ngIf="!routeInclude('/vouchers')" width="15" />
        <div class="footer__menu-title" [ngClass]="{'footer__menu-title--active': routeInclude('/vouchers')}">Vouchers</div>
    </div>
    <div class="footer__menu" routerLink="/gifts">
        <img src="assets/img/svg/icon_SVG-07.svg" *ngIf="routeInclude('/gifts')" width="15" />
        <img src="assets/img/svg/icon_SVG-11.svg" *ngIf="!routeInclude('/gifts')" width="15" />
        <div class="footer__menu-title" [ngClass]="{'footer__menu-title--active': routeInclude('/gifts')}">Gifts</div>
    </div>
    <div class="footer__main" routerLink="/code">
        <img src="assets/img/svg/icon_SVG-29.svg" width="20" />
    </div>
</div>