<div class="cards-product">
    <div class="cards-product__menu">
        <div class="cards-product__menu-item" routerLink="../detail">
            <div class="cards-product__menu-item-title">
                Thẻ
            </div>
        </div>

        <div class="cards-product__menu-item" routerLink="../promotion">
            <div class="cards-product__menu-item-title">
                Khuyến Mãi
            </div>
        </div>
        
        <div class="cards-product__menu-item">
            <div class="cards-product__menu-item-title cards-product__menu-item-title--active">
                Sản Phẩm
            </div>
        </div>
    </div>
</div>