<div class="profile-history-voucher">
    <div class="profile-history-voucher__list">
        <div class="profile-history-voucher__list-item" *ngFor="let item of list" [routerLink]="'../' + item.id + '/detail'">
            <div class="profile-history-voucher__list-item-container">
                <div class="profile-history-voucher__list-item-image" [ngStyle]="{ 'background-image': 'url(' + item.anhdd + ')' }"></div>
                <div class="row profile-history-voucher__list-item-detail">
                    <div class="profile-history-voucher__list-item-detail-logo" [ngStyle]="{ 'background-image': 'url(' + item.anhddncc + ')' }">
                    </div>
                    <div class="profile-history-voucher__list-item-detail-title">
                        {{ item.tenvoucher }}
                    </div>
                    <div class="profile-history-voucher__list-item-detail-date">
                        {{ item.tdketthuc }}
                    </div>
                    <div class="profile-history-voucher__list-item-detail-status">
                        {{ item.trt != 1 ? 'Đã sử dụng' : 'Chưa sử dụng' }}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>