.profile-history-voucher {
    background: lightgray;
    padding-bottom: 15px;
}

.profile-history-voucher__list {
    overflow-x: hidden;
    width: 100%;
}

.profile-history-voucher__list-item {
    padding: 10px 10px 0;
}

.profile-history-voucher__list-item-container {
    background: white;
}

.profile-history-voucher__list-item-image {
    background-color: #f1c93e;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw;
    width: 100%;
}

.profile-history-voucher__list-item-detail {
    padding: 15px 60px 10px 25px;
    position: relative;
    height: 70px;
}

.profile-history-voucher__list-item-detail-logo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    border-radius: 100%;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 20px;
    width: 30px;
}

.profile-history-voucher__list-item-detail-title {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-history-voucher__list-item-detail-date {
    color: grey;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-history-voucher__list-item-detail-status {
    color: #007cff;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}