<div class="icons">
    <div class="icons__item" *ngFor="let icon of icons">
        <img [src]="icon" width="30" />
        <img [src]="icon" width="30" />
        <div>{{icon}}</div>
    </div>
</div>