.profile-list-promotion {
    background: lightgray;
}

.profile-list-promotion__list {
    overflow-x: hidden;
    width: 100%;
}

.profile-list-promotion__list-item {
    padding: 10px 10px 0;
}

.profile-list-promotion__list-item-container {
    background: white;
}

.profile-list-promotion__list-item-image {
    background-color: #f1c93e;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw;
    width: 100%;
}

.profile-list-promotion__list-item-detail {
    padding: 15px 60px 10px 25px;
    position: relative;
    height: 50px;
}

.profile-list-promotion__list-item-detail-logo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    border-radius: 100%;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 10px;
    width: 30px;
}

.profile-list-promotion__list-item-detail-logo img {
    width: 100%;
}

.profile-list-promotion__list-item-detail-title {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-list-promotion__list-item-detail-price {
    color: #007cff;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}