<div class="cards-new">
    <div class="cards-new__card">
        <div class="cards-new__card-top">
            <img src="assets/img/svg/icon_SVG-32.svg" class="cards-new__card-top-image" />
        </div>
        <div class="cards-new__card-bar">
            <div class="cards-new__card-bar-item cards-new__card-bar-item--1"></div>
            <div class="cards-new__card-bar-item cards-new__card-bar-item--2"></div>
            <div class="cards-new__card-bar-item cards-new__card-bar-item--3"></div>
            <div class="cards-new__card-bar-item cards-new__card-bar-item--4"></div>
            <div class="cards-new__card-bar-item cards-new__card-bar-item--5"></div>
            <div class="cards-new__card-bar-item cards-new__card-bar-item--6"></div>
            <div class="cards-new__card-bar-item cards-new__card-bar-item--7"></div>
            <div class="cards-new__card-bar-item cards-new__card-bar-item--8"></div>
            <div class="cards-new__card-bar-item cards-new__card-bar-item--9"></div>
            <div class="cards-new__card-bar-item cards-new__card-bar-item--10"></div>
        </div>
    </div>
    <div class="cards-new__text">Bạn chưa có thẻ thành viên</div>
    <div class="cards-new__text">Hãy thêm thẻ thành viên của bạn</div>
</div>