.cards-new__card {
    border: 2px lightgrey solid;
    border-radius: 10px;
    height: 40vw;
    margin: 20px auto;
    padding: 10px;
    width: 60vw;
}

.cards-new__card-top {
    background: lightgrey;
    height: 10vw;
    margin: 5vw auto;
    width: 50vw;
}

.cards-new__card-top-image {
    margin-top: -2.5vw;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 15vw;
}

.cards-new__card-bar {
    height: 10vw;
    margin: 5vw auto;
    width: 40vw;
}

.cards-new__card-bar-item {
    background: lightgray;
    float: left;
    height: 10vw;
    margin-right: 1vw;
}

.cards-new__card-bar-item--1 {
    width: 2vw;
}

.cards-new__card-bar-item--2 {
    width: 5vw;
}

.cards-new__card-bar-item--3 {
    width: 2vw;
}

.cards-new__card-bar-item--4 {
    width: 4vw;
}

.cards-new__card-bar-item--5 {
    width: 8vw;
}

.cards-new__card-bar-item--6 {
    width: 2vw;
}

.cards-new__card-bar-item--7 {
    width: 4vw;
}

.cards-new__card-bar-item--8 {
    width: 1vw;
}

.cards-new__card-bar-item--9 {
    width: 1vw;
}

.cards-new__card-bar-item--10 {
    width: 1vw;
}

.cards-new__text {
    color: grey;
    font-size: 14px;
    text-align: center;
}