<div class="profile-history">
    <div class="profile-history__menu">
        <div class="profile-history__menu-item" routerLink="/profile/history/point">
            <div class="profile-history__menu-item-title" [ngClass]="{'profile-history__menu-item-title--active': route.url === '/profile/history/point'}">
                Point
            </div>
        </div>
        <div class="profile-history__menu-item" routerLink="/profile/history/product">
            <div class="profile-history__menu-item-title" [ngClass]="{'profile-history__menu-item-title--active': route.url === '/profile/history/product'}">
                Product
            </div>
        </div>
        <div class="profile-history__menu-item" routerLink="/profile/history/promotion">
            <div class="profile-history__menu-item-title" [ngClass]="{'profile-history__menu-item-title--active': route.url === '/profile/history/promotion'}">
                Promotion
            </div>
        </div>
        <div class="profile-history__menu-item" routerLink="/profile/history/gift">
            <div class="profile-history__menu-item-title" [ngClass]="{'profile-history__menu-item-title--active': route.url === '/profile/history/gift'}">
                Gift
            </div>
        </div>
        <div class="profile-history__menu-item" routerLink="/profile/history/voucher">
            <div class="profile-history__menu-item-title" [ngClass]="{'profile-history__menu-item-title--active': route.url === '/profile/history/voucher'}">
                Voucher
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>