.profile-history {
    display: block;
    overflow-x: hidden;
}

.profile-history__menu {
    border-bottom: #eee 1px solid;
    white-space: nowrap;
    overflow-x: auto;
}

.profile-history__menu-item {
    display: inline-block;
    line-height: 30px;
    text-align: center;
}

.profile-history__menu-item:focus {
    outline: none;
}

.profile-history__menu-item-img {
    display: inline-block;
}

.profile-history__menu-item-img img {
    height: 30px;
    line-height: 30px;
    margin-bottom: -10px;
    margin-right: 2px;
    margin-top: -10px;
    width: 20px;
}

.profile-history__menu-item-title {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.profile-history__menu-item-title--active {
    border-bottom: #333 2px solid;
    color: #333;
    font-weight: bold;
    width: 100%;
}

.profile-history__banner {
    position: relative;
    height: 30vw;
}

.profile-history__banner-item {
    background-size: cover;
    background-position: center;
    display: inline-block;
    height: 30vw;
    top: 0;
    width: 100vw;
}