.profile-setting {
    padding: 16px;
}

.profile-setting__title {
    color: #007cff;
    font-size: 16px;
    margin-bottom: 5px;
}

.profile-setting__content {
    color: #333333;
    font-size: 14px;
}