<div class="cards-detail">
    <div class="cards-detail__menu">
        <div class="cards-detail__menu-item">
            <div class="cards-detail__menu-item-title cards-detail__menu-item-title--active">
                Thẻ
            </div>
        </div>
        <div class="cards-detail__menu-item" routerLink="../promotion">
            <div class="cards-detail__menu-item-title">
                Khuyến Mãi
            </div>
        </div>
        <div class="cards-detail__menu-item" routerLink="../product">
            <div class="cards-detail__menu-item-title">
                Sản Phẩm
            </div>
        </div>
    </div>

    <div class="cards-detail__card">
        <div class="cards-detail__card-new">
            <div class="cards-detail__card-new__card">
                <div class="cards-detail__card-new__card-top">
                    <img src="assets/img/svg/icon_SVG-32.svg" class="cards-detail__card-new__card-top-image" />
                </div>
                <div class="cards-detail__card-new__card-bar">
                    <div class="cards-detail__card-new__card-bar-item cards-detail__card-new__card-bar-item--1"></div>
                    <div class="cards-detail__card-new__card-bar-item cards-detail__card-new__card-bar-item--2"></div>
                    <div class="cards-detail__card-new__card-bar-item cards-detail__card-new__card-bar-item--3"></div>
                    <div class="cards-detail__card-new__card-bar-item cards-detail__card-new__card-bar-item--4"></div>
                    <div class="cards-detail__card-new__card-bar-item cards-detail__card-new__card-bar-item--5"></div>
                    <div class="cards-detail__card-new__card-bar-item cards-detail__card-new__card-bar-item--6"></div>
                    <div class="cards-detail__card-new__card-bar-item cards-detail__card-new__card-bar-item--7"></div>
                    <div class="cards-detail__card-new__card-bar-item cards-detail__card-new__card-bar-item--8"></div>
                    <div class="cards-detail__card-new__card-bar-item cards-detail__card-new__card-bar-item--9"></div>
                    <div class="cards-detail__card-new__card-bar-item cards-detail__card-new__card-bar-item--10"></div>
                </div>
            </div>
            <div class="cards-detail__card-new__text">Bạn chưa có thẻ thành viên</div>
            <div class="cards-detail__card-new__text">Hãy thêm thẻ thành viên của bạn</div>
        </div>
    </div>
</div>