.cards-detail__menu {
    height: 30px;
    border-bottom: #eee 1px solid;
    color: grey;
}

.cards-detail__menu-item {
    float: left;
    line-height: 30px;
    text-align: center;
    width: 33%;
}

.cards-detail__menu-item:focus {
    outline: none;
}

.cards-detail__menu-item-title {
    display: inline-block;
}

.cards-detail__menu-item-title--active {
    color: black;
    border-bottom: black 2px solid;
    height: 30px;
    width: 100%;
}


/* New */

.cards-detail__card-new__card {
    border: 2px lightgrey solid;
    border-radius: 10px;
    height: 40vw;
    margin: 20px auto;
    padding: 10px;
    width: 60vw;
}

.cards-detail__card-new__card-top {
    background: lightgrey;
    height: 10vw;
    margin: 5vw auto;
    width: 50vw;
}

.cards-detail__card-new__card-top-image {
    margin-top: -2.5vw;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 15vw;
}

.cards-detail__card-new__card-bar {
    height: 10vw;
    margin: 5vw auto;
    width: 40vw;
}

.cards-detail__card-new__card-bar-item {
    background: lightgray;
    float: left;
    height: 10vw;
    margin-right: 1vw;
}

.cards-detail__card-new__card-bar-item--1 {
    width: 2vw;
}

.cards-detail__card-new__card-bar-item--2 {
    width: 5vw;
}

.cards-detail__card-new__card-bar-item--3 {
    width: 2vw;
}

.cards-detail__card-new__card-bar-item--4 {
    width: 4vw;
}

.cards-detail__card-new__card-bar-item--5 {
    width: 8vw;
}

.cards-detail__card-new__card-bar-item--6 {
    width: 2vw;
}

.cards-detail__card-new__card-bar-item--7 {
    width: 4vw;
}

.cards-detail__card-new__card-bar-item--8 {
    width: 1vw;
}

.cards-detail__card-new__card-bar-item--9 {
    width: 1vw;
}

.cards-detail__card-new__card-bar-item--10 {
    width: 1vw;
}

.cards-detail__card-new__text {
    color: grey;
    font-size: 14px;
    text-align: center;
}