<div class="login">
    <div class="login__close">
        <a (click)="close()">
            <img src="assets/img/svg/icon_SVG-44.svg" width="16" />
        </a>
    </div>
    <div class="login__title app-color-primary modal-title">
        Login
    </div>
    <div class="login__body modal-body">
        <div class="login__body-form">
            <input type="text" class="login__body-form-input app-input" placeholder="Account" [(ngModel)]="user.username" />
            <input type="password" class="login__body-form-input app-input" placeholder="Password" [(ngModel)]="user.password" />
            <div class="login__body-form-additional">
                <div class="text-left pull-left">
                    <a>Register</a>
                </div>
                <div class="text-right pull-right">
                    <a>Forgot Password</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer login__footer">
        <button class="login__footer-button app-button" type="button" (click)="login()">
            <span *ngIf="!logining" i18n>Log in</span>
            <span *ngIf="logining" i18n>Submiting...</span>
        </button>
    </div>
</div>