.login__close {
    position: absolute;
    top: -25px;
    right: 0;
}

.login .modal-content {
    border-radius: 0;
}

.login .modal-header,
.login .modal-footer {
    border: none;
}

.login__title {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

.login__body {
    padding: 0 10px;
}

.login__body-form {
}

.login__body-form-input {
    margin-bottom: 6px;
    padding: 0 12px;
}

.login__body-form-additional {
    padding-top: 6px;
}

.login__body-form-additional a {
    color: black;
}

.login__footer {
    padding: 10px;
}

.login__footer-button {
    width: 100%;
}