<div class="benefits-list-closest">

    <div class="benefits-list-closest__info" *ngIf="result && !list.length">{{ result.D }}</div>

    <div class="benefits-list-closest__list" *ngIf="list.length">
        <div class="benefits-list-closest__item" *ngFor="let item of list" [routerLink]="['../../detail', item.id]">
            <div class="benefits-list-closest__item-header">
                <div class="benefits-list-closest__item-header-avatar" [ngStyle]="{ 'background-image': 'url(' + item.anhddncc + ')' }"></div>
                <div class="benefits-list-closest__item-header-title">{{ item.tenncc }}</div>
            </div>

            <div class="benefits-list-closest__item-body" [ngStyle]="{ 'background-image': 'url(' + item.anhdd + ')' }">
                <div class="benefits-list-closest__item-body-title">{{ item.ten }}</div>
                <div class="benefits-list-closest__item-body-time">
                    <span i18n>From</span> {{ item.tdbdkhuyenmai }}
                    <span i18n>to</span> {{ item.tdktkhuyenmai }}
                </div>
                <div class="benefits-list-closest__item-body-gradien"></div>
            </div>
        </div>
    </div>

    <div class="benefits-list-closest__loading" *ngIf="loading || firstLoading">
        <img src="assets/img/svg/icon_SVG-23.svg" />
        <span i18n>Loading...</span>
    </div>
</div>