.vouchers-detail {
    font-size: 12px;
}

.vouchers-detail__loading {
    padding: 20px;
    text-align: center;
}

.vouchers-detail__loading img {
    width: 24px;
}

.vouchers-detail__banner img {
    width: 100%;
}

.vouchers-detail__title {
    font-size: 15px;
    padding: 4px 16px 0;
}

.vouchers-detail__time {
    color: #007cff;
    padding: 4px 16px 8px;
}

.vouchers-detail__check {
    padding: 8px 16px;
}

.vouchers-detail__check-title {
    font-size: 1.2em;
}

.vouchers-detail__check-count img {
    margin: 5px 5px 0 0;
}

.vouchers-detail__code {
    border-top: whitesmoke 6px solid;
}

.vouchers-detail__code-cta {
    color: #007cff;
    padding: 8px 24px;
    text-align: center;
}

.vouchers-detail__code-value {
    padding: 16px;
    text-align: center;
}

.vouchers-detail__description {
    border-top: whitesmoke 6px solid;
    padding: 8px 16px;
}

.vouchers-detail__description-title {
    font-size: 1.2em;
}

.vouchers-detail__provider {
    border-top: whitesmoke 6px solid;
    height: 50px;
    overflow: hidden;
    padding: 10px 120px 10px 56px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.vouchers-detail__provider-avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    background-size: cover;
    height: 30px;
    left: 16px;
    margin-right: 8px;
    overflow: hidden;
    position: absolute;
    top: 8px;
    width: 30px;
}

.vouchers-detail__provider-title {
    display: inline-block;
    font-weight: 500;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vouchers-detail__provider-detail {
    border: #007cff 1px solid;
    border-radius: 4px;
    color: #007cff;
    padding: 4px 15px;
    position: absolute;
    right: 16px;
    top: 9px;
}

.vouchers-detail__location {
    border-top: whitesmoke 6px solid;
}

.vouchers-detail__location-title {
    font-size: 1.2em;
    border-bottom: whitesmoke 1px solid;
    padding: 8px 16px;
}

.vouchers-detail__location-item {
    padding: 8px 16px;
}

.vouchers-detail__location-item:nth-child(even) {
    background: whitesmoke;
}