<div class="vouchers-detail">
    <div class="vouchers-detail__loading" *ngIf="loading">
        <img src="assets/img/svg/icon_SVG-23.svg" />
        <span i18n>Loading...</span>
    </div>
    <div *ngIf="voucher">
        <div *ngIf="voucher.chitiet">
            <div class="vouchers-detail__banner" *ngIf="voucher.chitiet.anhdd">
                <img [src]="voucher.chitiet.anhdd" />
            </div>

            <div class="vouchers-detail__title" *ngIf="voucher.chitiet.tenvoucher">
                {{ voucher.chitiet.tenvoucher }}
            </div>

            <div class="vouchers-detail__time" *ngIf="kmStart">
                <span i18n>From</span> {{ kmStart }}
            </div>

            <div class="vouchers-detail__price" *ngIf="voucher.chitiet.dssp && voucher.chitiet.dssp[0]">
                <div class="vouchers-detail__price-original" *ngIf="voucher.chitiet.dssp[0].giatien" [ngClass]="{ 'vouchers-detail__price-original--discount': voucher.chitiet.dssp[0].giakm }">
                    {{ voucher.chitiet.dssp[0].giatien }}
                </div>
                <div class="vouchers-detail__price-discount" *ngIf="voucher.chitiet.dssp[0].giakm">
                    {{ voucher.chitiet.dssp[0].giakm }}
                </div>
            </div>
        </div>

        <div class="vouchers-detail__check" *ngIf="voucher.chitiet.kieuvoucher == 1">
            <div class="vouchers-detail__check-title">Lượt tích voucher</div>
            <div class="vouchers-detail__check-count">
                <img src="assets/img/svg/icon_SVG-78.svg" width="24" *ngFor="let i of getNumber(voucher.khvoucher.sldatich)" />
                <img src="assets/img/svg/icon_SVG-79.svg" width="24" *ngFor="let i of getNumber(voucher.khvoucher.duocdoiqua - voucher.khvoucher.sldatich)"
                />
            </div>
        </div>

        <div class="vouchers-detail__code" *ngIf="voucher.chitiet && voucher.khvoucher && voucher.khvoucher.magd">
            <div class="vouchers-detail__code-cta" *ngIf="voucher.chitiet.kieuvoucher == 2 || (voucher.khvoucher.duocdoiqua && voucher.khvoucher.sldatich == voucher.khvoucher.duocdoiqua)">
                <span *ngIf="voucher.chitiet.kieuvoucher == 1">Bạn đã đủ lượt tích.</span>
                <span>Vui lòng đưa mã dưới đây cho nhân viên cửa hàng để xác thực và nhận quà</span>
            </div>
            <div class="vouchers-detail__code-value">
                <ngx-qrcode [qrc-element-type]="'elementType'" [qrc-value]="voucher.khvoucher.magd"></ngx-qrcode>
                <strong>{{ voucher.khvoucher.magd }}</strong>
            </div>
        </div>

        <div class="vouchers-detail__description" *ngIf="voucher.chitiet.mtct">
            <div class="vouchers-detail__description-title">
                Mô tả chi tiết
            </div>
            <div class="vouchers-detail__description-content" [innerHtml]="voucher.chitiet.mtct"></div>
        </div>

        <div class="vouchers-detail__provider" *ngIf="voucher.ncc">
            <div class="vouchers-detail__provider-avatar" [ngStyle]="{ 'background-image': 'url(' + voucher.ncc.anhddncc + ')' }" *ngIf="voucher.ncc.anhddncc"></div>
            <div class="vouchers-detail__provider-title">{{ voucher.ncc.ten }}</div>
            <div class="vouchers-detail__provider-detail">
                Xem chi tiết
            </div>
        </div>

        <div class="vouchers-detail__location" *ngIf="voucher.locations && voucher.locations.length">
            <div class="vouchers-detail__location-title">
                Địa điểm áp dụng
            </div>
            <div class="vouchers-detail__location-item" *ngFor="let location of voucher.locations">
                <div class="row form-group">
                    <div class="col-xs-8 vouchers-detail__location-item-title">{{ location.dc }}</div>
                    <div class="col-xs-4 vouchers-detail__location-item-distance">
                        <img src="assets/img/svg/icon_SVG-36.svg" width="16" />{{ getDistance(location.la, location.lo) | number:'1.1-1'
                        }}km
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 vouchers-detail__location-item-phone">
                        <img src="assets/img/svg/icon_SVG-35.svg" width="16" /> {{ location.hl }}
                    </div>
                    <div class="col-xs-4 vouchers-detail__location-item-rate">
                        <img src="assets/img/svg/icon_SVG-34.svg" width="16" /> {{ location.dtb | number:'1.1-1' }}</div>
                </div>
            </div>
        </div>
    </div>
</div>