.notification-personal {}

.notification-personal__loading {
    padding: 20px;
    text-align: center;
    white-space: nowrap;
}

.notification-personal__loading img {
    width: 24px;
}

.notification-personal__info {
    padding: 15px;
    text-align: center;
}

.notification-personal__item {
    position: relative;
}

.notification-personal__item-avatar {
    position: absolute;
    top: 10px;
    left: 10px;
}

.notification-personal__item-avatar-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    background-size: cover;
    display: inline-block;
    height: 30px;
    margin-right: 16px;
    overflow: hidden;
    width: 30px;
}

.notification-personal__item-avatar-image img {
    width: 100%;
}

.notification-personal__item-body {
    min-height: 60px;
    position: relative;
    width: 100vw;
    padding-left: 56px;
    padding-top: 10px;
}

.notification-personal__item-body-title {
    font-size: 14px;
    font-weight: normal;
}

.notification-personal__item-body-time {
}