<div class="notification-personal">

    <div class="notification-personal__info" *ngIf="result && result.D">{{ result.D }}</div>

    <div class="notification-personal__list" *ngIf="result && result.E">
        <div class="notification-personal__item" *ngFor="let item of list">
            <div class="notification-personal__item-avatar">
                <div class="notification-personal__item-avatar-img" [ngStyle]="{ 'background-image': 'url(' + item.anhdd + ')' }"></div>
            </div>

            <div class="notification-personal__item-body">
                <div class="notification-personal__item-body-title">{{ item.nd }}</div>
                <a class="notification-personal__item-body-time">
                    {{ item.td }}
                </a>
            </div>
        </div>
    </div>

    <div class="notification-personal__loading" *ngIf="loading || firstLoading">
        <img src="assets/img/svg/icon_SVG-23.svg" />
        <span i18n>Loading...</span>
    </div>
</div>