<div class="profile-favourites">
    <div class="profile-favourites__menu">
        <div class="profile-favourites__menu-item" routerLink="/profile/favourites/product">
            <div class="profile-favourites__menu-item-title" [ngClass]="{'profile-favourites__menu-item-title--active': route.url === '/profile/favourites/product'}">
                Product
            </div>
        </div>
        <div class="profile-favourites__menu-item" routerLink="/profile/favourites/promotion">
            <div class="profile-favourites__menu-item-title" [ngClass]="{'profile-favourites__menu-item-title--active': route.url === '/profile/favourites/promotion'}">
                Promotion
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>