<div class="profile-list-product">
    <div class="profile-list-product__list">
        <div class="profile-list-product__list-item col-xs-6" *ngFor="let item of list" [routerLink]="'../' + item.id + '/detail'">
            <div class="profile-list-product__list-item-container">
                <div class="profile-list-product__list-item-image" [ngStyle]="{ 'background-image': 'url(' + item.anhdd + ')' }"></div>
                <div class="profile-list-product__list-item-title">
                    {{ item.tenncc }}
                </div>
                <div class="row profile-list-product__list-item-detail">
                    <div class="profile-list-product__list-item-detail-logo" [ngStyle]="{ 'background-image': 'url(' + item.anhddncc + ')' }">
                    </div>
                    <div class="profile-list-product__list-item-detail-title">
                        {{ item.tensp }}
                    </div>
                    <div class="profile-list-product__list-item-detail-price">
                        {{ item.giatien }}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>