<div class="code">
    <div class="code__scan">
        <div class="code__scan-cta" *ngIf="!scanning" (click)="scanning = true">
            Lấy hình ảnh QR code
            <img src="assets/img/svg/icon_SVG-80.svg" width="12" />
            <img src="assets/img/svg/icon_SVG-81.svg" width="12" />
        </div>

        <div class="code__scan-qr" *ngIf="scanning">
            <qr-scanner
                [debug]="true"
                [canvasWidth]="400"
                [canvasHeight]="300"
                [mirror]="false"
                [stopAfterScan]="true"
                [updateTime]="500"
                (onRead)="decodedOutput(string)"></qr-scanner>
        </div>
    </div>
    <div class="code__button">
        <button class="btn">Gửi yêu cầu</button>
    </div>
    <div class="code__icon">
        <button>Mã cá nhân</button>
    </div>
</div>