.code {
    background: #e7e7e7;
    padding-top: 5px;
}

.code__scan {
    background: white;
    border: grey 1px dashed;
    height: 75vw;
    line-height: 75vw;
    margin: 0 5px 5px;
    position: relative;
    text-align: center;
}

.code__scan qr-scanner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.code__button {
    background: white;
    color: black;
    padding: 5px;
    text-align: center;
}

.code__button .btn {
    background: #fdc93e;
    border: none;
    box-shadow: none;
    color: white;
    outline: none;
    padding: 10px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.code__icon {
    background: white;
    color: black;
    padding: 10px;
    text-align: center;
}