.comment {
    padding: 10px 16px;
}

.comment__title {
    margin-bottom: 20px;
}

.comment__loading {
    padding: 20px;
    text-align: center;
    white-space: nowrap;
}

.comment__loading img {
    width: 24px;
}

.comment__info {
    padding: 15px;
    text-align: center;
}

.comment__item {
    border-bottom: whitesmoke 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comment__item-avatar {
    display: table-cell;
    vertical-align: top;
    width: 46px;
}

.comment__item-avatar-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    background-size: cover;
    height: 30px;
    margin-right: 16px;
    overflow: hidden;
    width: 30px;
}

.comment__item-avatar-container img {
    width: 100%;
}

.comment__item-content {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    width: 100%;
}

.comment__item-content-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.comment__item-content-body {
    color: grey;
    line-height: 18px;
}

.comment__item-content-photos {
    margin-top: 10px;
    overflow: hidden;
}

.comment__item-content-photos img {
    margin-right: 10px;
    height: 50px;
}

.comment__item-content-ref{
    border: lightgray 1px solid;
    border-radius: 5px;
    color: lightgrey;
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
}

.comment__item-content-ref-title {
    font-weight: bold;
}

.comment__item-content-ref-body {
    line-height: 18px;
}

.comment__item-content-actions {
    margin-top: 20px;
}

.comment__item-content-actions-reply {
    display: inline-block;
    margin-right: 20px;
}

.comment__item-content-actions-date {
    display: inline-block;
}

.comment__item-content-reply {
    border: lightgray 1px solid;
    border-radius: 5px;
    color: #333;
    margin-top: 10px;
    position: relative;
    width: 100%;
}

.comment__item-content-reply textarea {
    border: none;
    padding: 5px 30px 5px 10px;
    width: 100%;
}

.comment__item-content-reply textarea:focus {
    outline: none;
}

.comment__item-content-reply-button {
    cursor: pointer;
    color: #333;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 2;
}