<div class="comment">
    <div class="comment__title">Comments ({{ list.length }})</div>

    <div class="comment__list" *ngIf="result && result.E">
        <div class="comment__item">
            <div class="comment__item-avatar">
                <div class="comment__item-avatar-container" [ngStyle]="{ 'background-image': 'url(' + user.anhdaidien + ')' }"></div>
            </div>

            <div class="comment__item-content">
                <div class="comment__item-content-title">{{ user.hoten }}</div>

                <div class="comment__item-content-reply">
                    <textarea [(ngModel)]="myComment" rows="2" placeholder="Your comment..."></textarea>

                    <div class="comment__item-content-reply-button" (click)="comment(myComment); myComment = null">
                        <i class="ion-ios-paperplane"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="comment__item" *ngFor="let item of list">
            <div class="comment__item-avatar">
                <div class="comment__item-avatar-container" [ngStyle]="{ 'background-image': 'url(' + item.anhdd + ')' }"></div>
            </div>

            <div class="comment__item-content">
                <div class="comment__item-content-title" *ngIf="item.ten || item.email || item.sdt">{{ item.ten || item.email || item.sdt }}</div>

                <div class="comment__item-content-body" *ngIf="item.nd">{{ item.nd }}</div>

                <div class="comment__item-content-photos" *ngIf="item.lstanh.length">
                    <img *ngFor="let photo of item.lstanh" [src]="photo" />
                </div>

                <div class="comment__item-content-ref" *ngIf="!!item.ref_nd">
                    <div class="comment__item-content-ref-title" *ngIf="item.ref_ten || item.ref_email || item.ref_sdt">{{ item.ref_ten || item.ref_email || item.ref_sdt }}</div>
                    <div class="comment__item-content-ref-body" *ngIf="item.ref_nd">{{ item.ref_nd }}</div>
                </div>

                <div class="comment__item-content-actions" *ngIf="commentId !== item.commentid">
                    <div class="comment__item-content-actions-reply" (click)="commentId = item.commentid">
                        <i class="ion-reply"></i>
                        <strong>Reply</strong>
                    </div>

                    <div class="comment__item-content-actions-date">
                        <i class="ion-ios-clock-outline"></i>
                        <strong>{{ item.tdpost }}</strong>
                    </div>
                </div>

                <div class="comment__item-content-reply" *ngIf="commentId === item.commentid">
                    <textarea [(ngModel)]="item.reply" rows="2" placeholder="Your comment..."></textarea>

                    <div class="comment__item-content-reply-button" (click)="comment(item.reply, item); item.reply = null; commentId = null">
                        <i class="ion-ios-paperplane"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="comment__loading" *ngIf="loading || firstLoading">
        <img src="assets/img/svg/icon_SVG-23.svg" />
        <span i18n>Loading...</span>
    </div>
</div>