<div class="profile-list">
    <div class="profile-list__user">
        <div class="profile-list__user-image">
            <div class="profile-list__user-image-container">
                <img [src]="user.anhdaidien" *ngIf="user" />
                <img src="assets/img/svg/icon_SVG-51.svg" *ngIf="!user" />
            </div>
        </div>
        <div class="profile-list__user-detail" *ngIf="user">
            <div class="profile-list__user-detail-name">
                {{ user.hoten }}
            </div>
            <a class="profile-list__user-detail-point">
                {{ user.xpoint }} mPoint
            </a>
        </div>
    </div>

    <div class="profile-list__menu">
        <div class="profile-list__menu-item" *ngIf="user">
            <a routerLink="/profile/list">
                <img src="assets/img/svg/icon_SVG-22.svg" width="16" />
                <span>Cập nhật số điện thoại</span>
            </a>
        </div>

        <div class="profile-list__menu-item" *ngIf="user">
            <a routerLink="/profile/history/point">
                <img src="assets/img/svg/icon_SVG-23.svg" width="16" />
                <span>Lịch sử giao dịch</span>
            </a>
        </div>

        <div class="profile-list__menu-item" *ngIf="user">
            <a routerLink="/profile/list">
                <img src="assets/img/svg/icon_SVG-24.svg" width="16" />
                <span>Quản lý lịch hẹn</span>
            </a>
        </div>

        <div class="profile-list__menu-item" *ngIf="user">
            <a routerLink="/profile/favourites/product">
                <img src="assets/img/svg/icon_SVG-25.svg" width="16" />
                <span>Danh sách yêu thích</span>
            </a>
        </div>

        <div class="profile-list__menu-item">
            <a routerLink="/profile/list">
                <img src="assets/img/svg/icon_SVG-26.svg" width="16" />
                <span>Hướng dẫn và trợ giúp</span>
            </a>
        </div>

        <div class="profile-list__menu-item">
            <a routerLink="/profile/setting">
                <img src="assets/img/svg/icon_SVG-27.svg" width="16" />
                <span>Cài đặt</span>
            </a>
        </div>

        <div class="profile-list__menu-item" *ngIf="user">
            <a (click)="logOut()">
                <img src="assets/img/svg/icon_SVG-28.svg" width="16" />
                <span>Đăng xuất</span>
            </a>
        </div>
    </div>
</div>