.profile-list {
}

.profile-list__user {
    padding: 16px;
    border-bottom: lightgray 1px solid;
}

.profile-list__user-image {
    display: table-cell;
    width: 40px;
}

.profile-list__user-image-container {
    border-radius: 40px;
    height: 40px;
    overflow: hidden;
    vertical-align: top;
    width: 40px;
}

.profile-list__user-image-container img {
    width: 100%;
}

.profile-list__user-detail {
    display: table-cell;
    font-size: 14px;
    padding-left: 16px;
    vertical-align: top;
}

.profile-list__menu {
    padding: 16px;
}

.profile-list__menu-item {
    font-size: 14px;
    margin-bottom: 15px;
}

.profile-list__menu-item a {
    color: #333333;
    position: relative;
    padding-left: 24px;
}

.profile-list__menu-item a img {
    position: absolute;
    top: 1px;
    left: 0;
}

.profile-list__menu-item a span {
    display: inline-block;
    margin-top: 0;
}