<div class="profile-history-gift">
    <div class="profile-history-gift__list">
        <div class="profile-history-gift__list-item col-xs-6" *ngFor="let item of list" [routerLink]="'../' + item.id + '/detail'">
            <div class="profile-history-gift__list-item-container">
                <div class="profile-history-gift__list-item-image" [ngStyle]="{ 'background-image': 'url(' + item.anhdd + ')' }"></div>
                <div class="profile-history-gift__list-item-title">
                    {{ item.tenncc }}
                </div>
                <div class="row profile-history-gift__list-item-detail">
                    <div class="profile-history-gift__list-item-detail-logo" [ngStyle]="{ 'background-image': 'url(' + item.anhddncc + ')' }">
                    </div>
                    <div class="profile-history-gift__list-item-detail-title">
                        {{ item.ten }}
                    </div>
                    <div class="profile-history-gift__list-item-detail-date">
                        {{ item.thoidiemdoi }}
                    </div>
                    <div class="profile-history-gift__list-item-detail-status">
                        {{ item.trt == 1 ? 'Đã nhận' : (item.trt == 3 ? 'Chờ xác nhận': 'Đã huỷ')}}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>