.profile-history-gift {
    background: lightgray;
}

.profile-history-gift__list {
    overflow-x: hidden;
    width: 100%;
}

.profile-history-gift__list-item {
    padding: 2px 2px 0;
}

.profile-history-gift__list-item-container {
    padding: 10px;
    background: white;
}

.profile-history-gift__list-item-image {
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw;
    width: 100%;
}

.profile-history-gift__list-item-detail {
    padding: 5px 50px 0 15px;
    position: relative;
    height: 45px;
}

.profile-history-gift__list-item-detail-logo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    border-radius: 100%;
    height: 20px;
    position: absolute;
    right: 15px;
    bottom: 0;
    width: 20px;
}

.profile-history-gift__list-item-detail-title {
    font-size: 10px;
    margin-right: -35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-history-gift__list-item-detail-date {
    color: grey;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-history-gift__list-item-detail-status {
    color: #007cff;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}