.benefits-list {
    display: block;
    overflow-x: hidden;
}

.benefits-list__banner {
    background: #E1B6B6;
    height: 30vw;
    transition: margin-left 1s ease-in-out;
    white-space: nowrap;
}

.benefits-list__menu {
    height: 30px;
    border-bottom: #eee 1px solid;
}

.benefits-list__menu-item {
    float: left;
    line-height: 30px;
    text-align: center;
    width: 33%;
}

.benefits-list__menu-item:focus {
    outline: none;
}

.benefits-list__menu-item-img {
    display: inline-block;
}

.benefits-list__menu-item-img img {
    height: 30px;
    line-height: 30px;
    margin-bottom: -10px;
    margin-right: 2px;
    margin-top: -10px;
    width: 20px;
}

.benefits-list__menu-item-title {
    display: inline-block;
}

.benefits-list__menu-item-title--active {
    color: #467bfb;
}

.benefits-list__banner {
    position: relative;
    height: 30vw;
}

.benefits-list__banner-item {
    background-size: cover;
    background-position: center;
    display: inline-block;
    height: 30vw;
    top: 0;
    width: 100vw;
}