<div class="benefits-list">
    <div class="benefits-list__banner" [ngClass]="{'benefits-list__banner--primary': primary, 'benefits-list__banner--secondary': !primary}"
        [ngStyle]="{ 'margin-left': (- this.activeItemIndex * 100) + 'vw' }">
        <div class="benefits-list__banner-item benefits-list__banner-item--primary" *ngFor="let item of bannerList; let i = index" [ngStyle]="{ 'background-image': 'url(' + item.linkanhbanner + ')'}">
        </div>
    </div>

    <div class="benefits-list__menu">
        <div class="benefits-list__menu-item" routerLink="/benefits/list/closest">
            <div class="benefits-list__menu-item-img">
                <img src="assets/img/svg/icon_SVG-12.svg" *ngIf="route.url !== '/benefits/list/closest'" />
                <img src="assets/img/svg/icon_SVG-17.svg" *ngIf="route.url === '/benefits/list/closest'" />
            </div>
            <div class="benefits-list__menu-item-title" [ngClass]="{'benefits-list__menu-item-title--active': route.url === '/benefits/list/closest'}">
                Nearby
            </div>
        </div>
        <div class="benefits-list__menu-item" routerLink="/benefits/list/latest">
            <div class="benefits-list__menu-item-img">
                <img src="assets/img/svg/icon_SVG-15.svg" *ngIf="route.url !== '/benefits/list/latest'" />
                <img src="assets/img/svg/icon_SVG-14.svg" *ngIf="route.url === '/benefits/list/latest'" />
            </div>
            <div class="benefits-list__menu-item-title" [ngClass]="{'benefits-list__menu-item-title--active': route.url === '/benefits/list/latest'}">
                New Offer
            </div>
        </div>
        <div class="benefits-list__menu-item" routerLink="/benefits/list/hottest">
            <div class="benefits-list__menu-item-img">
                <img src="assets/img/svg/icon_SVG-13.svg" *ngIf="route.url !== '/benefits/list/hottest'" />
                <img src="assets/img/svg/icon_SVG-16.svg" *ngIf="route.url === '/benefits/list/hottest'" />
            </div>
            <div class="benefits-list__menu-item-title" [ngClass]="{'benefits-list__menu-item-title--active': route.url === '/benefits/list/hottest'}">
                Top buy
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>