.vouchers-list {
    display: block;
    font-size: 12px;
    overflow-x: hidden;
}

.vouchers-list__menu {
    height: 30px;
    border-bottom: #eee 1px solid;
}

.vouchers-list__menu-item {
    float: left;
    line-height: 30px;
    text-align: center;
    width: 50%;
}

.vouchers-list__menu-item:focus {
    outline: none;
}

.vouchers-list__menu-item-title {
    display: inline-block;
}

.vouchers-list__menu-item-title--active {
    border-bottom: #333 3px solid;
    color: #333;
    font-weight: normal;
    height: 30px;
    text-align: center;
    width: 100%;
}

.vouchers-list__banner {
    position: relative;
    height: 30vw;
}

.vouchers-list__banner-item {
    background-size: cover;
    background-position: center;
    display: inline-block;
    height: 30vw;
    top: 0;
    width: 100vw;
}