<div class="vouchers-list">
    <div class="vouchers-list__menu">
        <div class="vouchers-list__menu-item" routerLink="/vouchers/list/mine">
            <div class="vouchers-list__menu-item-title" [ngClass]="{'vouchers-list__menu-item-title--active': route.url === '/vouchers/list/mine'}">
                Mine
            </div>
        </div>
        <div class="vouchers-list__menu-item" routerLink="/vouchers/list/all">
            <div class="vouchers-list__menu-item-title" [ngClass]="{'vouchers-list__menu-item-title--active': route.url === '/vouchers/list/all'}">
                All
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>