.benefits-list-latest {}

.benefits-list-latest__loading {
    padding: 20px;
    text-align: center;
    white-space: nowrap;
}

.benefits-list-latest__loading img {
    width: 24px;
}

.benefits-list-latest__info {
    padding: 15px;
    text-align: center;
}

.benefits-list-latest__item-header {
    height: 50px;
    overflow: hidden;
    padding: 10px 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.benefits-list-latest__item-header-avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    background-size: cover;
    display: inline-block;
    height: 30px;
    margin-right: 16px;
    overflow: hidden;
    width: 30px;
}

.benefits-list-latest__item-header-avatar img {
    width: 100%;
}

.benefits-list-latest__item-header-title {
    display: inline-block;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.benefits-list-latest__item-body {
    background-color: #666;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 40vw;
    position: relative;
    text-shadow: 0 0 1px rgba(0, 0, 0, .8);
    width: 100vw;
}

.benefits-list-latest__item-body-title {
    bottom: 24px;
    font-size: 16px;
    left: 16px;
    position: absolute;
    right: 16px;
    z-index: 2;
}

.benefits-list-latest__item-body-time {
    bottom: 8px;
    left: 16px;
    position: absolute;
    right: 16px;
    z-index: 2;
}

.benefits-list-latest__item-body-gradien {
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    height: 40vw;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}