<div class="profile-history-promotion">
    <div class="profile-history-promotion__list">
        <div class="profile-history-promotion__list-item" *ngFor="let item of list" [routerLink]="'../' + item.id + '/detail'">
            <div class="profile-history-promotion__list-item-container">
                <div class="profile-history-promotion__list-item-image" [ngStyle]="{ 'background-image': 'url(' + item.anhdd + ')' }"></div>
                <div class="row profile-history-promotion__list-item-detail">
                    <div class="profile-history-promotion__list-item-detail-logo" [ngStyle]="{ 'background-image': 'url(' + item.anhddncc + ')' }">
                    </div>
                    <div class="profile-history-promotion__list-item-detail-title">
                        {{ item.ten }}
                    </div>
                    <div class="profile-history-promotion__list-item-detail-price">
                        {{ item.thoidiemdoi }}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>