<div class="notifications">
    <div class="notifications__menu">
        <div class="notifications__menu-item" routerLink="/notifications/public">
            <div class="notifications__menu-item-title" [ngClass]="{'notifications__menu-item-title--active': route.url === '/notifications/public'}">
                News
            </div>
        </div>
        <div class="notifications__menu-item" routerLink="/notifications/personal">
            <div class="notifications__menu-item-title" [ngClass]="{'notifications__menu-item-title--active': route.url === '/notifications/personal'}">
                Mine
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>