.notifications {
    display: block;
}

.notifications__menu {
    height: 30px;
    border-bottom: #eee 1px solid;
}

.notifications__menu-item {
    float: left;
    line-height: 30px;
    text-align: center;
    width: 50%;
}

.notifications__menu-item:focus {
    outline: none;
}

.notifications__menu-item-img {
    display: inline-block;
}

.notifications__menu-item-img img {
    height: 30px;
    line-height: 30px;
    margin-bottom: -10px;
    margin-right: 2px;
    margin-top: -10px;
    width: 20px;
}

.notifications__menu-item-title {
    border-bottom: white 1px solid;
    color: #828280;
    display: inline-block;
    height: 29px;
    width: 100%;
}

.notifications__menu-item-title--active {
    color: #373635;
    border-bottom-color: #373635;
}