<div class="benefits-detail" *ngIf="benefit">
    <div *ngIf="benefit.chitiet">
        <div class="benefits-detail__banner" *ngIf="benefit.chitiet.anhdd">
            <img [src]="benefit.chitiet.anhdd" />
        </div>

        <div class="benefits-detail__title" *ngIf="benefit.chitiet.ten">
            {{ benefit.chitiet.ten }}
        </div>

        <div class="benefits-detail__time" *ngIf="kmStart">
            <span i18n>From</span> {{ kmStart }}
        </div>

        <div class="benefits-detail__price" *ngIf="benefit.chitiet.dssp && benefit.chitiet.dssp[0]">
            <div class="benefits-detail__price-original" *ngIf="benefit.chitiet.dssp[0].giatien" [ngClass]="{ 'benefits-detail__price-original--discount': benefit.chitiet.dssp[0].giakm }">
                {{ benefit.chitiet.dssp[0].giatien }}
            </div>
            <div class="benefits-detail__price-discount" *ngIf="benefit.chitiet.dssp[0].giakm">
                {{ benefit.chitiet.dssp[0].giakm }}
            </div>
        </div>
    </div>

    <div class="benefits-detail__interact" *ngIf="benefit.khsp">
        <div class="benefits-detail__interact-item">
            <div class="benefits-detail__interact-item-number">
                {{ benefit.khsp.trtyeuthich }}
            </div>
            <div class="benefits-detail__interact-item-title" i18n>
                Like
            </div>
        </div>

        <div class="benefits-detail__interact-item">
            <div class="benefits-detail__interact-item-number">
                0
            </div>
            <div class="benefits-detail__interact-item-title" i18n>
                Comment
            </div>
        </div>

        <div class="benefits-detail__interact-item">
            <div class="benefits-detail__interact-item-number">
                {{ benefit.khsp.diemdg }}
            </div>
            <div class="benefits-detail__interact-item-title" i18n>
                Rate
            </div>
        </div>
    </div>

    <div class="benefits-detail__code" *ngIf="benefit.chitiet && benefit.chitiet.khsp && benefit.chitiet.khsp.magd">
        <div class="benefits-detail__code-cta">
            Vui lòng đưa mã dưới đây cho nhân viên cửa hàng để xác thực và nhận quà
        </div>
        <div class="benefits-detail__code-value">
            <ngx-qrcode [qrc-element-type]="'elementType'" [qrc-value]="chitiet.khsp.magd"></ngx-qrcode>
            <strong>{{ chitiet.khsp.magd }}</strong>
        </div>
    </div>

    <div class="benefits-detail__policy" *ngIf="benefit.chitiet.dssp && benefit.chitiet.dssp[0]">
        <div class="benefits-detail__policy-title" i18n>
            Policy
        </div>
        <div class="benefits-detail__policy-content" [innerHTML]="benefit.chitiet.mtct" [ngClass]="{ 'benefits-detail__policy-content--expand': viewMore }"></div>
        <div class="benefits-detail__policy-more" i18n (click)="viewMore = true" *ngIf="!viewMore">
            More...
        </div>
    </div>

    <div class="benefits-detail__provider" *ngIf="benefit.chitiet.tenncc || benefit.chitiet.anhddncc">
        <div class="benefits-detail__provider-avatar" [ngStyle]="{ 'background-image': 'url(' + benefit.chitiet.anhddncc + ')' }"
            *ngIf="benefit.chitiet.anhddncc"></div>
        <div class="benefits-detail__provider-title" *ngIf="benefit.chitiet.tenncc">
            {{ benefit.chitiet.tenncc }}
        </div>
    </div>

    <div class="benefits-detail__comments">
        <app-comment [id]="benefit.chitiet.id" [type]="2" [name]="benefit.chitiet.ten"></app-comment>
    </div>
</div>