.benefits-detail {
    font-size: 12px;
}

.benefits-detail__banner img {
    width: 100%;
}

.benefits-detail__title {
    font-size: 15px;
    padding: 4px 16px 0;
}

.benefits-detail__time {
    color: #007cff;
    padding: 4px 16px 0;
}

.benefits-detail__price {
    color: lightgrey;
    padding: 4px 16px 0;
}

.benefits-detail__price-original {
    font-size: 15px;
    display: inline-block;
}

.benefits-detail__price-original--discount {
    text-decoration: line-through;
}

.benefits-detail__price-discount {
    display: inline-block;
    margin-left: 4px;
}

.benefits-detail__interact {
    border-bottom: whitesmoke 1px solid;
    border-top: whitesmoke 1px solid;
    margin-top: 8px;
    padding: 8px 0;
    white-space: nowrap;
}

.benefits-detail__interact-item {
    border-right: whitesmoke 1px solid;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 33%;
}

.benefits-detail__interact-item:last-child {
    border-right: none;
}

.benefits-detail__code-cta {
    color: #007cff;
    padding: 8px 24px;
    text-align: center;
}

.benefits-detail__code-value {
    padding: 16px;
    text-align: center;
}

.benefits-detail__policy {
    border-top: whitesmoke 1px solid;
}

.benefits-detail__policy-title {
    padding: 8px 16px;
}

.benefits-detail__policy-content {
    border-top: whitesmoke 1px solid;
    color: lightgrey;
    max-height: 54px;
    overflow: hidden;
    padding: 8px 16px;
}

.benefits-detail__policy-content--expand {
    max-height: 9999px;
}

.benefits-detail__policy-more {
    border-top: whitesmoke 1px solid;
    color: #007cff;
    text-align: center;
    padding: 4px 16px;
}


.benefits-detail__provider {
    border-top: whitesmoke 1px solid;
    height: 50px;
    overflow: hidden;
    padding: 10px 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.benefits-detail__provider-avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    background-size: cover;
    display: inline-block;
    height: 30px;
    margin-right: 8px;
    overflow: hidden;
    width: 30px;
}

.benefits-detail__provider-avatar img {
    width: 100%;
}

.benefits-detail__provider-title {
    display: inline-block;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.benefits-detail__comments {
    border-top: whitesmoke 1px solid;
}