<div class="cards-promotion">
    <div class="cards-promotion__menu">
        <div class="cards-promotion__menu-item" routerLink="../detail">
            <div class="cards-promotion__menu-item-title">
                Thẻ
            </div>
        </div>

        <div class="cards-promotion__menu-item">
            <div class="cards-promotion__menu-item-title cards-promotion__menu-item-title--active">
                Khuyến Mãi
            </div>
        </div>

        <div class="cards-promotion__menu-item" routerLink="../product">
            <div class="cards-promotion__menu-item-title">
                Sản Phẩm
            </div>
        </div>
    </div>
</div>