.cards-promotion__menu {
    height: 30px;
    border-bottom: #eee 1px solid;
    color: grey;
}

.cards-promotion__menu-item {
    float: left;
    line-height: 30px;
    text-align: center;
    width: 33%;
}

.cards-promotion__menu-item:focus {
    outline: none;
}

.cards-promotion__menu-item-title {
    display: inline-block;
}

.cards-promotion__menu-item-title--active {
    color: black;
    border-bottom:  black 2px solid;
    height: 30px;
    width: 100%;
}