.profile-history-gift {}

.profile-history-gift__loading {
    padding: 20px;
    text-align: center;
    white-space: nowrap;
}

.profile-history-gift__loading img {
    width: 24px;
}

.profile-history-gift__info {
    padding: 15px;
    text-align: center;
}

.profile-history-gift__item {
    border-bottom: whitesmoke 1px solid;
    position: relative;
    font-size: 12px;
    padding: 8px 0;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-history-gift__item-avatar {
    position: absolute;
    top: 18px;
    left: 10px;
}

.profile-history-gift__item-avatar-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    background-size: cover;
    display: inline-block;
    height: 30px;
    margin-right: 16px;
    overflow: hidden;
    width: 30px;
}

.profile-history-gift__item-body {
    min-height: 60px;
    position: relative;
    padding-left: 56px;
    padding-top: 10px;
}

.profile-history-gift__item-body-title {
    color: grey;
    font-size: 10px;
    font-weight: normal;
}

.profile-history-gift__item-body-time {
    font-size: 10px;
}