<div class="profile-history-gift">

    <div class="profile-history-gift__info" *ngIf="result && result.D">{{ result.D }}</div>

    <div class="profile-history-gift__list" *ngIf="result && result.E">
        <div class="profile-history-gift__item" *ngFor="let item of list">
            <div class="profile-history-gift__item-avatar">
                <div class="profile-history-gift__item-avatar-img" [ngStyle]="{ 'background-image': 'url(' + item.anhdd + ')' }"></div>
            </div>

            <div class="profile-history-gift__item-body">
                <a class="profile-history-gift__item-body-time">
                    {{ item.tdtao }}
                </a>
                <div class="profile-history-gift__item-body-title">{{ item.mota }}</div>
            </div>
        </div>
    </div>

    <div class="profile-history-gift__loading" *ngIf="loading || firstLoading">
        <img src="assets/img/svg/icon_SVG-23.svg" />
        <span i18n>Loading...</span>
    </div>
</div>