/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Open Sans', 'Helvetica', 'sans-serif';
    font-size: 10px;
    font-weight: 300;
    margin: 0;
}

a {
    color: #467bfb;
    text-decoration: none;
}

h4 {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}

div:focus {
    outline: none;
}

.app-color-primary {
    color: #f1c93e;
}

.app-background-primary {
    background: #f1c93e;
}

.app-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #f1c93e;
    border: none;
    border-radius: 2px;
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    text-transform: uppercase;
}

.app-input {
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.fade.show {
    opacity: 1;
}

.modal-backdrop.fade.show {
    opacity: .5;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.modal-content {
    margin-top: 50vh;
    transform: translateY(-50%);
}