<div class="vouchers-list-mine">

    <div class="vouchers-list-mine__info" *ngIf="result && result.D">{{ result.D }}</div>

    <div class="vouchers-list-mine__list" *ngIf="result && result.E">
        <div class="vouchers-list-mine__item" *ngFor="let item of list" [routerLink]="['../../detail', item.voucherid]">
            <div class="vouchers-list-mine__item-header">
                <div class="vouchers-list-mine__item-header-avatar" [ngStyle]="{ 'background-image': 'url(' + item.anhddncc + ')' }"></div>
                <div class="vouchers-list-mine__item-header-title">{{ item.tenncc }}</div>
            </div>

            <div class="vouchers-list-mine__item-body" [ngStyle]="{ 'background-image': 'url(' + item.anhdd + ')' }">
                <div class="vouchers-list-mine__item-body-title">{{ item.ten }}</div>
                <div class="vouchers-list-mine__item-body-time">
                    <span i18n>From</span> {{ item.tdbatdau | amDateFormat: 'LL' }}
                    <span i18n>to</span> {{ item.tdketthuc | amDateFormat: 'LL' }}
                </div>
                <div class="vouchers-list-mine__item-body-gradien"></div>
            </div>
        </div>
    </div>

    <div class="vouchers-list-mine__loading" *ngIf="loading || firstLoading">
        <img src="assets/img/svg/icon_SVG-23.svg" />
        <span i18n>Loading...</span>
    </div>
</div>