<div class="cards-list">
    <div class="cards-list__add" routerLink="../new">
        <img src="assets/img/svg/icon_SVG-32.svg" class="cards-list__add-icon" />
        <span>Thêm thẻ nhãn hàng mới</span>
    </div>
    <div class="cards-list__list">
        <div class="cards-list__list-item col-xs-6" *ngFor="let card of list" [routerLink]="'../' + card.khtnccid + '/detail'">
            <div class="cards-list__list-item-image" [ngStyle]="{ 'background-image': 'url(' + card.anhncc + ')' }"></div>
            <div class="cards-list__list-item-title">
                {{ card.tenncc }}
            </div>
            <div class="row cards-list__list-item-detail">
                <div class="cards-list__list-item-detail-item col-xs-4">
                    <img src="assets/img/svg/icon_SVG-03.svg" class="cards-list__list-item-detail-item-image" />
                    <span>{{ card.diem | number:'1.0-0' }}</span>
                </div>
                <div class="cards-list__list-item-detail-item col-xs-4">
                    <img src="assets/img/svg/icon_SVG-02.svg" class="cards-list__list-item-detail-item-image" />
                    <span>{{ card.solandoiqua | number:'1.0-0' }}</span>
                </div>
                <div class="cards-list__list-item-detail-item col-xs-4">
                    <img src="assets/img/svg/icon_SVG-01.svg" class="cards-list__list-item-detail-item-image" />
                    <span>{{ card.diemtbdanhgia | number:'1.1-1' }}</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>