.cards-list {
}

.cards-list__add {
    background: #ebebeb;
    color: grey;
    padding: 10px 0;
    text-align: center;
}

.cards-list__add-icon {
    margin-right: 10px;
    width: 30px;
}

.cards-list__list {
    overflow-x: hidden;
    width: 100%;
}

.cards-list__list-item {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.cards-list__list-item-image {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px lightgray solid;
    border-radius: 5px;
    height: 30vw;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
}

.cards-list__list-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cards-list__list-item-detail {
    padding: 0 10px;
}

.cards-list__list-item-detail-item {
    padding: 5px;
}

.cards-list__list-item-detail-item-image {
    margin-right: 2px;
    width: 12px;
}