<div class="vouchers-list-all">

    <div class="vouchers-list-all__info" *ngIf="result && !list.length">{{ result.D }}</div>

    <div class="vouchers-list-all__list" *ngIf="list.length">
        <div class="vouchers-list-all__item" *ngFor="let item of list" [routerLink]="['../../detail', item.voucherid]">
            <div class="vouchers-list-all__item-header">
                <div class="vouchers-list-all__item-header-avatar" [ngStyle]="{ 'background-image': 'url(' + item.anhddncc + ')' }"></div>
                <div class="vouchers-list-all__item-header-title">{{ item.tenncc }}</div>
            </div>

            <div class="vouchers-list-all__item-body" [ngStyle]="{ 'background-image': 'url(' + item.anhdd + ')' }">
                <div class="vouchers-list-all__item-body-title" [innerHtml]="item.mtct"></div>
                <div class="vouchers-list-all__item-body-time">
                    <span i18n>From</span> {{ item.tdbatdau | amDateFormat: 'LL' }}
                    <span i18n>to</span> {{ item.tdketthuc | amDateFormat: 'LL' }}
                </div>
                <div class="vouchers-list-all__item-body-gradien"></div>
            </div>
        </div>
    </div>

    <div class="vouchers-list-all__loading" *ngIf="loading || firstLoading">
        <img src="assets/img/svg/icon_SVG-23.svg" />
        <span i18n>Loading...</span>
    </div>
</div>